@import "tailwindcss";

@theme inline {
  --color-bg-primary: #FFF0DD;  /* primary background */
  --color-bg-dark: #D1D3D4;  /* header footer background */
  --color-bg-container: #D1D3D4;  /* container background */
  --color-accent: #86B0BD;  /* accent color */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFF0DD;
}

::-webkit-scrollbar-thumb {
  background: #E2A16F;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #86B0BD;
}

